body {
    background-image: url(../img/bg.jpg);
    background-position: center;
    @at-root .car_maininfo {
        margin-bottom: 150px;
        >.container {
            .maininfo_titleshow {
                background-image: url('../img/title.png');
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                // border: 1px solid #000;
                @include flex-cen-cen;
                height: 270px;
                >.maininfo_title {
                    padding-top: 60px;
                }
            }
            .carinfo_wrap {
                // border: 1px solid #000;
                display: flex;
                justify-content: center;
                align-items: center;
                // padding-left: 10%;
                // padding-right: 10%;
                margin-bottom: 15px;
                // >.item {
                //     float: left;
                // }
                >.clearfix {
                    clear: both;
                }
                @at-root .car_location {
                    margin-left: 4%;
                    padding: 1%;
                    width: 47.5%;
                    background-color: #dcd6b7;
                    border-radius: 10px;
                    margin-right: 4.166666%;
                    .car_localmsg,
                    .car_date,
                    .car_local {
                        margin: 15px;
                        h3 {
                            padding: 10px;
                            color: #de892b;
                        }
                        p {
                            padding-left: 10px;
                        }
                    }
                    
                    .pie_picwrap {
                        display: flex;
                        justify-content: center;
                        // position: relative;
                        width: 100%;
                        // padding-top: 5%;
                        // padding-bottom: 2%;
                        // padding-left: 5%;
                        // display: inline-block;
                        .pie_img {
                            max-width: 100%;
                            display: inline-block;
                            transform: rotate(-10deg);
                        }
                        .pie_checkinfo {
                            font-weight: bold;
                            display: inline-block;
                            // position: absolute;
                            // top: 25%;
                            // left: 60%;
                            transform: rotate(-15deg);
                        }
                    }
                }
                @at-root .calendar {
                    .lightgrey {
                        color: #a8a8a8;
                    }
                    
                    .darkgrey {
                        color: #565656;
                    }
                    
                    .green {
                        color: #3c6193;
                    }
                    
                    .greenbox {
                        border: 1px solid #6ac13c;
                        background: #e9f8df;
                    }
                    // width: 350px;
                    width: 29.1666%;
                    margin-right: 4%;
                    height: 350px;
                    background: #fff;
                    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    .title {
                        height: 70px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                        text-align: center;
                        position: relative;
                        background-color: #e7b36d;
                        vertical-align: middle;
                        font-size: 18px;
                        // color: #3c6193;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        box-shadow: inset 3px 3px 10px 3px rgba(50, 50, 50, 0.2), inset 3px 2px 2px rgba(50, 50, 50, 0.2);
                        #calendar_title {
                            font-size: 25px;
                            font-family: arial;
                            font-weight: bold;
                            text-transform: uppercase;
                            padding: 14px 0 0 0;
                        }
                        #calendar_year {
                            font-size: 15px;
                            font-family: arial;
                            font-weight: normal;
                        }
                        #prev {
                            text-indent: -9999px;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 60px;
                            height: 70px;
                            background: url(../img/car/prev_white.png) no-repeat 50% 50%;
                        }
                        #next {
                            text-indent: -9999px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 60px;
                            height: 70px;
                            background: url(../img/car/next_white.png) no-repeat 50% 50%;
                        }
                    }
                    .body {
                        padding: 0px 20px;
                    }
                    .body_list >ul {
                        width: 100%;
                        font-family: arial;
                        font-weight: bold;
                        font-size: 14px;
                        >li {
                            width: 14.28%;
                            height: 40px;
                            line-height: 40px;
                            list-style-type: none;
                            display: block;
                            box-sizing: border-box;
                            float: left;
                            text-align: center;
                            >a{
                                text-decoration: none;
                                color: #3c6193;
                            }
                        }
                    }


                    
                    }
                }
            }
            @at-root .car_map {
                position: relative;
                display: flex;
                justify-content: center;
                padding: 20px;
                >img {
                    width: 100%;
                }
                .map_info {
                    position: absolute;
                    top: 10%;
                    left: 50%;
                    transform: translateX(-50%);
                    // border: 1px solid #000;
                    color: #de892b;
                }
            }
        }
    }
