body {
    .car_timeline {
        >.container {
            @at-root {
                .timeline_titleshow {
                    background-image: url('../img/car/title.png');
                    background-repeat: no-repeat;
                    background-position: center;
                    position: relative;
                    border: 1px solid #000;
                    @include flex-cen-cen;
                    height: 270px;
                    >.timeline_title {
                        padding-top: 60px;
                    }
                }
            }
            @at-root .timeline_item {
                // background-color: #ccc;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                >.timeline_card {
                    display: flex;
                    justify-content: center;
                    width: 40%;
                    border: 1px solid #00f;
                    .story_img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}