/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 767px) {
  body h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 32.4px;
    line-height: 1.8rem;
  }
}

@media (min-width: 768px) {
  body h2 {
    font-size: 46px;
    font-weight: 800;
    line-height: 32.4px;
    line-height: 1.8rem;
  }
}

@media (max-width: 767px) {
  body h3 {
    font-size: 20px;
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  body h3 {
    font-size: 24px;
    font-weight: 800;
  }
}

@media (max-width: 767px) {
  body p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  body p {
    font-size: 18px;
  }
}

body {
  background-image: url(../img/car/bg.jpg);
  background-position: center;
}

.car_maininfo {
  margin-bottom: 150px;
}

.car_maininfo > .container .maininfo_titleshow {
  background-image: url("../img/car/title.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 270px;
}

.car_maininfo > .container .maininfo_titleshow > .maininfo_title {
  padding-top: 60px;
}

.car_maininfo > .container .carinfo_wrap {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}

.car_maininfo > .container .carinfo_wrap > .item {
  float: left;
}

.car_maininfo > .container .carinfo_wrap > .clearfix {
  clear: both;
}

.car_location {
  padding: 1%;
  width: 59.375%;
  background-color: #dcd6b7;
  border-radius: 10px;
  margin-right: 4.166666%;
}

.car_location .car_localmsg,
.car_location .car_date,
.car_location .car_local {
  margin: 15px;
}

.car_location .car_localmsg h3,
.car_location .car_date h3,
.car_location .car_local h3 {
  padding: 10px;
  color: #de892b;
}

.car_location .car_localmsg p,
.car_location .car_date p,
.car_location .car_local p {
  padding-left: 10px;
}

.car_location .pie_picwrap {
  width: 65%;
  padding-top: 5%;
  padding-bottom: 2%;
  padding-left: 15%;
  display: inline-block;
}

.car_location .pie_picwrap .pie_img {
  max-width: 100%;
  display: inline-block;
}

.car_location > p {
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: -100px;
  left: -35px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.calendar {
  padding-top: 60px;
  width: 350px;
  height: 350px;
}

.calendar_table {
  text-align: center;
}

.calendar_table th {
  background-color: #e7b36d;
  vertical-align: middle;
  font-size: 18px;
  width: 50px;
  height: 50px;
  color: #3c6193;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-box-shadow: inset 3px 3px 10px 3px rgba(50, 50, 50, 0.2), inset 3px 2px 2px rgba(50, 50, 50, 0.2);
          box-shadow: inset 3px 3px 10px 3px rgba(50, 50, 50, 0.2), inset 3px 2px 2px rgba(50, 50, 50, 0.2);
}

.calendar_table td {
  vertical-align: middle;
  background-color: #eee;
  font-size: 18px;
  width: 50px;
  height: 50px;
  color: #3c6193;
}

.car_map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car_maininfo > .container .map_info {
  color: #de892b;
  position: relative;
  top: 30px;
  left: 240px;
}

.timeline_titleshow {
  background-image: url("../img/car/title.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 270px;
}

.timeline_titleshow > .timeline_title {
  padding-top: 60px;
}

body .car_timeline > .container .timeline_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .car_timeline > .container .timeline_item:after {
  content: '';
  height: 100%;
  width: 1px;
  background-color: #090c7b;
  position: absolute;
}

body .car_timeline > .container .timeline_item > .timeline_card:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  border: 1px solid #00f;
}

body .car_timeline > .container .timeline_item > .timeline_card:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  border: 1px solid #00f;
}

.story_msg {
  padding: 10px;
}

img {
  display: block;
  border: none;
}

* {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.full-container {
  position: relative;
}

.full-container::after {
  display: block;
  content: '';
  clear: both;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  outline: 1px solid red;
  margin: 0 auto;
}

.container::after {
  display: block;
  content: '';
  clear: both;
}
/*# sourceMappingURL=index.css.map */